.dialog-box {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  display: flex;
  border: 5px solid lightgray;
  box-sizing: border-box;
  width: 400px;
  padding: 30px;
  background-color: white;
  box-shadow: 10px 5px 5px lightgray;
}
